{{ define "main" }}
  <h1>Recipes</h1>
  <div class="card no-print">
    <input id="searchInput" type="search" placeholder="Search recipes..." />
    {{ with .Site.Taxonomies.tags }}
      <div class="chips">
        {{ range $tag, $pages := . }}
          <a class="chip" href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        {{ end }}
      </div>
    {{ end }}
  </div>

  <div id="recipeList" class="grid" style="margin-top:14px;"></div>
  <script src="/js/search.js" defer></script>
{{ end }}
